.restaurant-header{
    background-color: antiquewhite;
    padding:20px;
}
.item{
    display: flex;
    justify-content: space-around;
}
.item-container{
    width:500px;
    background-color: aqua;
    margin:20px;
    border-radius : 10px;
}
.container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}